DB_USERNAME=your_db_username
DB_PASSWORD=your_db_password

JWT_SECRET_KEY=your_jwt_secret_key_min_32_chars
JWT_REFRESH_TOKEN_PEPPER=your_refresh_token_pepper

ACCESS_TOKEN_EXPIRATION=86400000
REFRESH_TOKEN_EXPIRATION=604800000

CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret